<h1>Listing regression_coefficients</h1>

<table>
  <tr>
    <th></th>
    <% @crops.each do |crop| %>
      <th><%= crop.name %></th>
    <% end %>
  </tr>
  <% @fertilisers.each do |fertiliser| %>
    <tr>
      <td><b><%= fertiliser.name %></b></td>
      <% @crops.each do |crop| %>
        <% if !RegressionCoefficient.where(:crop_id => crop.id, :fertiliser_id => fertiliser.id).nil? %>
          <td><%= RegressionCoefficient.where(:crop_id => crop.id, :fertiliser_id => fertiliser.id).first.value %></td>
        <% else %>
          <td></td>
        <% end %>

      <% end %>
    </tr>
  <% end %>
</table>

<% #delete the lines below when this is working properly!!! %>
<br /><br />
    

<table>
  <tr>
    <th>Value</th>
    <th>Crop</th>
    <th>Fertiliser</th>
    <th></th>
    <th></th>
  </tr>

<% @regression_coefficients.each do |regression_coefficient| %>
  <tr>
    <td><%= regression_coefficient.value %></td>
    <td><%= regression_coefficient.crop.name %></td>
    <td><%= regression_coefficient.fertiliser.name %></td>
    <td><%= link_to 'Edit', edit_admin_regression_coefficient_path(regression_coefficient) %></td>
    <td><%= link_to 'Destroy', [:admin, regression_coefficient], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', admin_root_path %>
