<h1>Listing regression_coefficients</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/notifications' %>
    </div>
  </div>
</div>

<p>Click on a value to change it. Valid values are between -10 and 10 and will round to 3 digits of precision.</p>

<table>
<tr>
  <th></th>
  <% @crops.each do |crop| %>
    <th><%= crop.name %></th>
  <% end %>
</tr>
<% @fertilisers.each do |fertiliser| %>
  <tr>
    <td><strong><%= fertiliser.metric_name %></strong></td>
    <% @crops.each do |crop| %>
      <% #the below code will need refactoring %>
      <td><%= best_in_place RegressionCoefficient.where(:crop_id => crop.id, :fertiliser_id => fertiliser.id).first, :value, :url => [:admin, RegressionCoefficient.where(:crop_id => crop.id, :fertiliser_id => fertiliser.id).first]%></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', admin_root_path %>

<% #delete the lines below when this is working properly!!! %>
<br /><br />

<table>
<tr>
  <th>Value</th>
  <th>Crop</th>
  <th>Fertiliser</th>
  <th></th>
  <th></th>
</tr>

<% @regression_coefficients.each do |regression_coefficient| %>
<tr>
  <td><%= regression_coefficient.value %></td>
  <td><%= regression_coefficient.crop_name %></td>
  <td><%= regression_coefficient.fertiliser_metric_name %></td>
  <td><%= link_to 'Edit', edit_admin_regression_coefficient_path(regression_coefficient) %></td>
  <td><%= link_to 'Destroy', [:admin, regression_coefficient], confirm: 'Are you sure?', method: :delete %></td>
</tr>
<% end %>
</table>

<br />

<%= link_to 'Back', admin_root_path %>
