<h1>Listing crops</h1>

<table>
<tr>
  <th>Name</th>
  <th></th>
  <th></th>
</tr>

<% @crops.each do |crop| %>
<tr>
  <td><%= crop.name %></td>
  <td><%= link_to 'Edit', edit_admin_crop_path(crop) %></td>
  <td><%= link_to 'Destroy', [:admin, crop], confirm: 'Are you sure?', method: :delete %></td>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New Crop', new_admin_crop_path %> |
<%= link_to 'Back', admin_root_path %>
