<%= form_for([:admin, @soil_texture]) do |f| %>
  <% if @soil_texture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soil_texture.errors.count, "error") %> prohibited this soil_texture from being saved:</h2>

      <ul>
      <% @soil_texture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
