<% if session[:admin] == true %>
  <ul>
	<li>
		<%= link_to "Crops", admin_crops_path %>
	</li>
	<li>
		<%= link_to('Fertilisers', admin_fertilisers_path) %>
	</li>
	<li>
		<%= link_to('Regression coefficients', admin_soil_textures_path) %>
	</li>
	<li>
		<%= link_to('Soil moistures', admin_soil_moistures_path) %>
	</li>
	<li>
		<%= link_to('Soil textures', admin_soil_textures_path) %>
	</li>
	<li>
		<%= link_to('Soil coefficients', admin_soil_coefficients_path) %>
	</li>
  </ul>
<% end %>