<h1>Listing soil_coefficients</h1>

<p>Click on a value to change it. Valid values are between 0 and 10 with up to 2 digits of precision.</p>

<table>
  <tr>
    <th></th>
    <% @soil_moistures.each do |soil_moisture| %>
      <th><%= soil_moisture.name %></th>
    <% end %>
  </tr>
  <% @soil_textures.each do |soil_texture| %>
    <tr>
      <td><b><%= soil_texture.name %></b></td>
      <% @soil_moistures.each do |soil_moisture| %>
        <% #the below code will need refactoring %>
        <td><%= best_in_place SoilCoefficient.where(:soil_moisture_id => soil_moisture.id, :soil_texture_id => soil_texture.id).first, :value, :path => [:admin, SoilCoefficient.where(:soil_moisture_id => soil_moisture.id, :soil_texture_id => soil_texture.id).first]%></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% #delete the lines below when this is working properly!!! %>
<br /><br />

<table>
  <tr>
    <th>Value</th>
    <th>Soil texture</th>
    <th>Soil moisture</th>
    <th></th>
    <th></th>
  </tr>

<% @soil_coefficients.each do |soil_coefficient| %>
  <tr>
    <td><%= soil_coefficient.value %></td>
    <td><%= soil_coefficient.soil_texture_name %></td>
    <td><%= soil_coefficient.soil_moisture_name %></td>
    <td><%= link_to 'Edit', edit_admin_soil_coefficient_path(soil_coefficient) %></td>
    <td><%= link_to 'Destroy', [:admin, soil_coefficient], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', admin_root_path %>
