<h1>Listing soil_coefficients</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Soil texture</th>
    <th>Soil moisture</th>
    <th></th>
    <th></th>
  </tr>

<% @soil_coefficients.each do |soil_coefficient| %>
  <tr>
    <td><%= soil_coefficient.value %></td>
    <td><%= soil_coefficient.soil_texture.name %></td>
    <td><%= soil_coefficient.soil_moisture.name %></td>
    <td><%= link_to 'Edit', edit_admin_soil_coefficient_path(soil_coefficient) %></td>
    <td><%= link_to 'Destroy', [:admin, soil_coefficient], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Soil coefficient', new_admin_soil_coefficient_path %>
