<% content_for :title, "Seed Damage Calculator - Definitions" %>
<% content_for :description, "Definition of terms for the seed damage calculator." %>
<% content_for :keywords, "seed damage calculator, fertilizer, seed, seed damage, fertilizer seed damage, estimating fertilizer rates, fertilizer decision aid, fertilizer rates, fertilizer seed ratio, fertilizer calculator, safe rates of fertilizer applied with seed" %>
<%= currently_at 'Definitions' %>

<h1>Definitions</h1>
<hr>
<%= render 'layouts/social_links' %>

<a name="Soil Moisture"><h2>Soil Moisture</h2></a>
<p>The values used in the calculations are based on approximate soil moisture values. The indices used to convert to moist or dry soil were derived from a borderline soil moisture content which was 18% w/w (around 20% w/v). So, moist conditions are where the soil is more than approximately 30% w/w while and dry soil is approximately &lt;20% of field capacity.<p>

<a name="Soil Texture"><h2>Soil Texture</h2></a>
<p>Standard soil texture classes are referred to, with light soils (sands, sandy loams) being around 80-100% sand, 0-10% silt and 0-10% clay. Medium textured soils (loamy sands, loams) being25-50% sand, 30-50% silt and 10-30% clay. Heavy textured soils (clay loams, clays) are typically 0-45% sand, 0-45% silt and 50-100% clay.</p>

<a name="Seed Furrow Opening"><h2>Seed Furrow Opening</h2></a>
<p>Seed Furrow Opening is the planter seed-slot width and reflects the amount of mixing of the soil and fertilizer within the furrow. For most row crop planters, a value of 1 inch (2.5 cm) is generally assumed. For drills, the width should be given in the equipment manual or measured at the opener. It is assumed that fertilizer is spread within this width as well; therefore, the wider the value the less concentrated the fertilizer, and therefore less seed damage. Furrow opening will also be affected by operating speed, operating depth and soil conditions. Very narrow furrow openings will generally mean little mixing of soil and fertilizer, while wide openings will mean more mixing. Some typical furrow openings are:</p>
<ul>
  <li>
    5 inch (12.5 cm) wide share will typically give a seed spread of 2.5 inches (6.5 cm)
  </li>
  <li>
    2.5 inch (6.5 cm) wide share will typically give a seed spread of 2 inches (4.6 cm)
  </li>
  <li>
    1.5 inch (4 cm) wide spear point will typically give a seed spread of 1 inch (2.5 cm)
  </li>
</ul>
<p><em>(for more information see the websites listed below)</em></p>

<a name="Tolerated Stand Loss"><h2>Tolerated Stand Loss</h2></a>
<p>Tolerated Stand Loss (%) is the percent stand loss over typical stands when no fertilizer is applied with seed. For example, if 5% tolerated stand loss is entered, this would indicate a producer's tolerance of 5% maximum reduction in plant stand due to seed-placed fertilizer over the producer's typical stand without added fertilizer.  If, for example, 30,000 seeds are planted and a typical stand loss is 3%, we have 30,000 * 0.97 * 0.95 = 27,645 : (27,645 plants / 30,000) = 92% or an 8% tolerated stand reduction.<br />
The higher the value entered (in this case 5%), the more risk the producer is willing to take in stand reduction due to added seed-placed fertilizer.  Of course, corn is much more sensitive to stand reduction than soybean or small grain, which can partially compensate for lower stands.  Whereas stand reductions of greater than 5-10 % may cause yield reductions with corn, yield reductions with soybean or small grain may not occur until stand reductions are greater than 20 to 50% of seeds planted.</p>

<a name="Seed Bed Utilization"><h2>Seed Bed Utilization</h2></a>
<p>Seed Bed Utilization (%) is the ratio of the width of the seed and fertilizer spread under the seeding point divided by the width between the seeding rows.  It provides information on how concentrated the fertilizer band is likely to be where the seed is placed. Wide rows and narrow furrow openings will have low seed bed utilization ratios, and so a higher potential for seedling damage. Narrow rows with high disturbance shares or points will have higher seed bed utilization ratios and a lower potential for seedling damage.</p>

<a name="Fertilizer Names and Types"><h2>Fertilizer Names and Types</h2></a>
<p>Common names of the fertilizers are given below. The ratio of nutrients in imperial/metric respectively is also given, with the metric it states the N:P:K ratio, while the imperial it is listed as the N:P2O5:K2O ratio. Ratios are on a weight/weight basis. Composition and constituents used in formulation may vary from product to product but typical ratios are given.<br />
For more information on particular fertilizers see <%= link_to "http://www.ipni.net/specifics", "http://www.ipni.net/specifics", :target => "_blank" %></p>
<ul>
  <li>
    Urea (46-0-0) – Urea. Solid product.
  </li>
  <li>
    28-0-0/ UAN (28-0-0) – Urea + ammonium nitrate solution. Composition may vary from 28 to 32%N. Fluid product.
  </li>
  <li>
    Am.Nitr (34-0-0) – Ammonium nitrate. Solid product.
  </li>
  <li>
    DAP (18-46-0)/DAP (18-20-0) – Diammonium phosphate. Solid product.
  </li>
  <li>
    MAP (11-55-0)/MAP (11-22-0) – Monoammonium phosphate. Solid product.
  </li>
  <li>
    TSP (0-46-0)/TSP (0-20-0) – Triple superphosphate. Solid product.
  </li>
  <li>
    10-34-0/10-15-0 – Ammonium polyphosphate. Fluid product.
  </li>
  <li>
    7-21-7/7-9-6 – Mixed N, P, K starter fertilizer, fluid product.
  </li>
  <li>
    9-18-9/9-8-7.5 - Mixed N, P, K starter fertilizer, Derived from urea, ammonium hydroxide, phosphoric acid, and potassium hydroxide. Fluid product.
  </li>
  <li>
    3-18-18/3-8-15 - Mixed N, P, K starter fertilizer.  Derived from urea, ammonium hydroxide, phosphoric acid, potassium hydroxide, and ammonium thiosulfate. Fluid product.
  </li>
  <li>
    4-10-10/4-4.4-8 –Mixed N, P, K starter fertilizer. Derived from phosphoric acid, anhydrous ammonia, potassium chloride, urea and ammonium nitrate. Fluid product.
  </li>
  <li>
    KCl (0-0-60)/KCl (0-0-50) – Potassium chloride, muriate of potash (MOP). Solid product.
  </li>
  <li>
    KsMg (0-0-22-22S-11Mg)/KsMg (0-0-18-22S-11Mg) – Potassium magnesium sulphate, Langbeinite.  Solid product.
  </li>
  <li>
    KSul (0-0-50-17S)/KSul (0-0-42-17S) – Potassium sulphate, sulphate of potash (SOP). Solid product.
  </li>
  <li>
    ATS (12-0-0-26S)/ATS (12-0-0-26S) – Ammonium thiosulphate, fluid product.
  </li>
</ul>

<h2>For more information</h2>
<ul>
  <li>
    Seed placed fertilizer and crop damage -
    <%= link_to "http://anz.ipni.net/articles/ANZ0042-EN", 'http://anz.ipni.net/articles/ANZ0042-EN', :target => '_blank' %>
  </li>
  <li>
    Seed Bed Utilization - How much seed placed fertilizer is safe under direct-seeding conditions? -
    <%= link_to "http://www.reducedtillage.ca/article248.aspx", 'http://www.reducedtillage.ca/article248.aspx', :target => '_blank' %>
  </li>
  <li>
    Guidelines for safe rates of fertilizer placed with the seed -
    <%= link_to "http://www.agriculture.gov.sk.ca/Default.aspx?DN=e42316e3-15ea-4249-ac0e-369212b23131", 'http://www.agriculture.gov.sk.ca/Default.aspx?DN=e42316e3-15ea-4249-ac0e-369212b23131', :target => '_blank' %>
  </li>
  <li>
    Fertilizer Application with Small Grain Seed at Planting -
    <%= link_to "http://www.ag.ndsu.edu/pubs/plantsci/soilfert/eb62w.htm", 'http://www.ag.ndsu.edu/pubs/plantsci/soilfert/eb62w.htm', :target => '_blank' %>
  </li>
</ul>