<% content_for :title, "Seed Damage Calculator - Theory" %>
<% content_for :description, "Theory behind the seed damage calculator." %>
<% content_for :keywords, "seed damage calculator, fertilizer, seed, seed damage, fertilizer seed damage, estimating fertilizer rates, fertilizer decision aid, fertilizer rates, fertilizer seed ratio, fertilizer calculator, safe rates of fertilizer applied with seed" %>
<%= currently_at 'Theory' %>

<h1>Theory</h1>

<p>
  The data and calculations used on this website are taken from the report 
  <strong>
    Decision Aid for Estimating Seed-Placed Fertilizer Rates
  </strong>
  published on December 31, 2008 by
  <strong>
    R.H. Gelderman
  </strong>
  from the 
  <strong>
    Plant Science Department, South Dakota State University.
  </strong>
  The document is available for download below.
</p>

<p>
  <%= link_to image_tag("pdficon_large.png"), "/Gelderman_Report.pdf" %> 
  <strong>Decision Aid for Estimating Seed-Placed Fertilizer Rates - Final Report</strong>
  can be downloaded <%= link_to "here", "/Gelderman_Report.pdf" %>.
</p>

<p>
  This tool uses regression coefficients (crop stand upon fertilizer rate) that were developed using published studies from North America. Coefficients are adjusted for soil texture and soil moisture based on data collected under standardised conditions.<br />
  The tool uses the equation:<br /><br />
  <strong>F = 30S (-T)/CRMX</strong><br /><br />
  Where:<br />
  F = fertilizer material (lb/ac or kg/ha).<br />
  S = seed furrow opening (in or cm).<br />
  T = tolerated stand loss, as a percent, due to fertilizer applied with seed over typical stands, where no fertilizer is applied.<br />
  C = negative regression coefficient for the selected crop X fertilizer (%/lb/ac or %/kg/ha).<br />
  R = row spacing (in or cm).<br />
  MX = planting soil moisture and soil texture coefficients.<br />
</p>

<h2>Negative Regression Coefficients Table</h2>
<table>
  <tr>
    <th></th>
    <% @crops.each do |crop| %>
      <th><%= crop.name %></th>
    <% end %>
  </tr>
  <% @fertilisers.each do |fertiliser| %>
    <tr>
      <td><b><%= fertiliser.metric_name %></b></td>
      <% @crops.each do |crop| %>
        <td><%= RegressionCoefficient.where(:crop_id => crop.id, :fertiliser_id => fertiliser.id).first.value %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h2>Soil Moisture and Texture Coefficients Table</h2>
<table>
  <tr>
    <th></th>
    <% @soil_moistures.each do |soil_moisture| %>
      <th><%= soil_moisture.name %></th>
    <% end %>
  </tr>
  <% @soil_textures.each do |soil_texture| %>
    <tr>
      <td><b><%= soil_texture.name %></b></td>
      <% @soil_moistures.each do |soil_moisture| %>
        <td><%= SoilCoefficient.where(:soil_moisture_id => soil_moisture.id, :soil_texture_id => soil_texture.id).first.value %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h2>Acknowledgements</h2>
<ul>
  <li>
    The International Plant Nutrient Institute (IPNI) for its support with this work.
  </li>
  <li>
    Joseph Schumacher (SDSU) for his help with assembling this program.
  </li>
  <li>
    D. Andrews, C. Morris, A. Bly (SDSU) for their very capable technical support.
  </li>
  <li>
    Dr C Dowling (Backpaddock P/L) for adapting the units to a metric format.
  </li>
</ul>
