<fieldset>
  <legend><strong>Input</strong></legend>
  <ol>
    <li class='locale'>
    <%= label_tag "Measurement Unit" %>
    <%= form_tag calculator_path, class: 'locale' do %>
      <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
      <%= submit_tag 'submit' %>
      <%= javascript_tag "$('.locale input').hide()" %>
    <% end %>
    </li>
    <%= form_for(@calculator, :url => calculator_path, :remote => true, :id => "inputform") do |f| %>
      <li>
      <%= f.label :crop_id, :class => 'input-form' %>
      <%= f.select :crop_id, options_from_collection_for_select(@crops, 'id', 'name', @calculator.crop_id) %>
      </li>
      <li>
      <%= f.label :fertiliser_id, t('.fert'), :class => 'input-form' %>
      <% if I18n.locale == :metric %>
        <%= f.select :fertiliser_id, options_from_collection_for_select(@fertilisers, 'id', 'metric_name', @calculator.fertiliser_id) %>
      <% else %>
        <%= f.select :fertiliser_id, options_from_collection_for_select(@fertilisers, 'id', 'imperial_name', @calculator.fertiliser_id) %>
      <% end %>
      <%= link_to image_tag('info_button.png', :class => "info_icon"), definitions_path(:anchor => "Fertilizer Names and Types"), :target => "_blank" %>
      </li>
      <li>
      <%= f.label :soil_moisture_id, :class => 'input-form' %>
      <%= f.select :soil_moisture_id, options_from_collection_for_select(@soil_moistures, 'id', 'name', @calculator.soil_moisture_id) %> <%= link_to image_tag('info_button.png', :class => "info_icon"), definitions_path(:anchor => "Soil Moisture"), :target => "_blank" %>
      </li>
      <li>
      <%= f.label :soil_texture_id, :class => 'input-form' %>
      <%= f.select :soil_texture_id, options_from_collection_for_select(@soil_textures, 'id', 'name', @calculator.soil_texture_id) %> <%= link_to image_tag('info_button.png', :class => "info_icon"), definitions_path(:anchor => "Soil Texture"), :target => "_blank" %>
      </li>
      <li>
      <%= f.label :seed_furrow_opening_width, t('.furrow'), :class => 'input-form' %>
      <%= f.number_field :seed_furrow_opening_width, :placeholder => "1 - 100" %> <%= link_to image_tag('info_button.png', :class => "info_icon"), definitions_path(:anchor => "Seed Furrow Opening"), :target => "_blank" %>
      </li>
      <li>
      <%= f.label :row_spacing, t('.spacing'), :class => 'input-form' %>
      <%= f.number_field :row_spacing, :placeholder => "1 - 100" %>
      </li>
      <li>
      <%= f.label :tolerated_stand_loss, "Tolerated stand loss (%)", :class => 'input-form' %>
      <%= f.number_field :tolerated_stand_loss, :placeholder => "1 - 100" %> <%= link_to image_tag('info_button.png', :class => "info_icon"), definitions_path(:anchor => "Tolerated Stand Loss"), :target => "_blank" %>
      </li>
      <li>
      <%= f.check_box :terms_of_service %>
      <%= f.label :terms_of_service, t('.terms'), :class => 'terms' %>
      </li>
      <li>
      <%= f.submit "Calculate", :class => 'calc_btn' %>
      </li>
    </ol>
  </fieldset>
<% end %>
