<%= form_for(@calculator, :url => calculator_path) do |f| %>
  <fieldset>
    <legend><b>Calculation Variables:</b></legend>
      <ol>
        <li>
          <%= f.label :crop_id %>
          <%= f.select :crop_id, options_from_collection_for_select(@crops, 'id', 'name', @calculator.crop_id) %><br /><br />
        </li>
        <li>
          <%= f.label :fertiliser_id, t('.fert') %>
          <% if I18n.locale == :metric %>
            <%= f.select :fertiliser_id, options_from_collection_for_select(@fertilisers, 'id', 'metric_name', @calculator.fertiliser_id) %><br /><br />
          <% else %>
            <%= f.select :fertiliser_id, options_from_collection_for_select(@fertilisers, 'id', 'imperial_name', @calculator.fertiliser_id) %><br /><br />
          <% end %>
        </li>
        <li>
          <%= f.label :soil_moisture_id %>
          <%= f.select :soil_moisture_id, options_from_collection_for_select(@soil_moistures, 'id', 'name', @calculator.soil_moisture_id) %> <%= link_to image_tag('info_button.png'), definitions_path, :target => "_blank" %><br /><br />
        </li>
        <li>
          <%= f.label :soil_texture_id %>
          <%= f.select :soil_texture_id, options_from_collection_for_select(@soil_textures, 'id', 'name', @calculator.soil_texture_id) %> <%= link_to image_tag('info_button.png'), definitions_path, :target => "_blank" %><br /><br />
        </li>
        <li>
          <%= f.label :seed_furrow_opening_width, t('.furrow') %>
          <%= f.number_field :seed_furrow_opening_width %> <%= link_to image_tag('info_button.png'), definitions_path, :target => "_blank" %><br /><br />
        </li>
        <li>
          <%= f.label :row_spacing, t('.spacing') %>
          <%= f.number_field :row_spacing %><br /><br />
        </li>
        <li>
          <%= f.label :tolerated_stand_loss, "Tolerated stand loss (%)" %>
          <%= f.number_field :tolerated_stand_loss %> <%= link_to image_tag('info_button.png'), definitions_path, :target => "_blank" %><br /><br />
        </li>
        <li>
          <%= f.submit "Calculate", confirm: 'By using this calculator you agree to the terms of use in the disclaimer' %>
        </li>
      </ol>
  </fieldset>
<% end %>
