<%= form_for(request.url) do |f| %>
  <fieldset>
    <legend><b>Output</b></legend>
	    <ol>
    		<li>
    			<%= label_tag('kg/ha with the seed') %>
    			<%= text_field_tag(:result, @kg, :disabled => true) %>
    		</li>
    		<li>
    			<%= label_tag('litres/ha') %>
    			<%= text_field_tag(:litres, @litres, :disabled => true) %>
    		</li>
    		<li>
    			<%= label_tag('kg/ha of Nitrogen (N)') %>
    			<%= text_field_tag(:nitrogen, @nitrogen, :disabled => true) %>
    		</li>
    		<li>
    			<%= label_tag('kg/ha of Phosphorus (P)') %>
    			<%= text_field_tag(:phosphorus, @phosphorus, :disabled => true) %>
    		</li>
    		<li>
    			<%= label_tag('kg/ha of Potassium (K)') %>
    			<%= text_field_tag(:potassium, @potassium, :disabled => true) %>
    		</li>
    		<li>
    			<%= label_tag('kg/ha of Sulphur (S)') %>
    			<%= text_field_tag(:sulphur, @sulphur, :disabled => true) %>
    		</li>
    		<li>
    			<%= label_tag('kg/ha of Magnesium (Mg)') %>
    			<%= text_field_tag(:magnesium, @magnesium, :disabled => true) %>
    		</li>
    		<li>
    		  <%= submit_tag "Print Results" %>
    		</li>
    	</ol>
  	</fieldset>
<% end %>