<%= form_for(request.url) do |f| %>
  <div class="form-group">
    <%= label_tag :result, t('.result') %>
    <%= text_field_tag :result, @calculator.result, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :sbu, t('.sbu') %>
    <%= text_field_tag :sbu, @calculator.sbu, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :liquid_weight, t('.liquid_weight') %>
    <%= text_field_tag :liquid_weight, @calculator.liquid_weight, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :nitrogen, t('.nitrogen') %>
    <%= text_field_tag :nitrogen, @calculator.nitrogen, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :phosphorus, t('.phosphorus').html_safe %>
    <%= text_field_tag :phosphorus, @calculator.phosphorus, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :potassium, t('.potassium').html_safe %>
    <%= text_field_tag :potassium, @calculator.potassium, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :sulphur, t('.sulphur') %>
    <%= text_field_tag :sulphur, @calculator.sulphur, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :magnesium, t('.magnesium') %>
    <%= text_field_tag :magnesium, @calculator.magnesium, disabled: true, class: "form-control" %>
  </div>

  <% if @calculator.result.present? %>
    <div class="text-center">
    <% calculator_params = params.
      require(:calculator).
      permit(:locale, :fertiliser_id, :crop_id, :soil_moisture_id, :soil_texture_id, :seed_furrow_opening_width, :row_spacing, :tolerated_stand_loss, :terms_of_service).
      merge(locale: I18n.locale).to_h %>
      <%= link_to "Download PDF",
        calculator_path(calculator: calculator_params, format: :pdf),
        class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
