<%= form_for(request.url) do |f| %>
<ol>
  <li>
    <%= label_tag :result, t('.result') %><br/>
    <%= text_field_tag :result, @calculator.result, :disabled => true %><br /><br />
  </li>
  <li>
    <%= label_tag :sbu, t('.sbu') %><br/>
    <%= text_field_tag :sbu, @calculator.sbu, :disabled => true %> <%= link_to image_tag('info_button.png'), definitions_path(:anchor => "Seed Bed Utilization"), :target => "_blank" %><br /><br />
  </li>
  <li>
    <%= label_tag :liquid_weight, t('.liquid_weight') %><br/>
    <%= text_field_tag :liquid_weight, @calculator.liquid_weight, :disabled => true %><br /><br /><br />
  </li>
  <li>
    <%= label_tag :nitrogen, t('.nitrogen') %><br/>
    <%= text_field_tag :nitrogen, @calculator.nitrogen, :disabled => true %><br /><br />
  </li>
  <li>
    <%= label_tag :phosphorus, t('.phosphorus').html_safe %><br/>
    <%= text_field_tag :phosphorus, @calculator.phosphorus, :disabled => true %><br /><br />
  </li>
  <li>
    <%= label_tag :potassium, t('.potassium').html_safe %><br/>
    <%= text_field_tag :potassium, @calculator.potassium, :disabled => true %><br /><br />
  </li>
  <li>
    <%= label_tag :sulphur, t('.sulphur') %><br/>
    <%= text_field_tag :sulphur, @calculator.sulphur, :disabled => true %><br /><br />
  </li>
  <li>
    <%= label_tag :magnesium, t('.magnesium') %><br/>
    <%= text_field_tag :magnesium, @calculator.magnesium, :disabled => true %><br /><br />
  </li>
  <li>
    <%= link_to "Printable Output (PDF)", calculator_path(:calculator => params[:calculator], :format => "pdf") %>
  </li>
</ol>
<% end %>
