<% content_for :title, "Seed Damage Calculator - Home" %>
<% content_for :description, "Seed damage calculator for calculating the maximum fertilizer material to apply with seed." %>
<% content_for :keywords, "seed damage calculator, fertilizer, seed, seed damage, fertilizer seed damage, estimating fertilizer rates, fertilizer decision aid, fertilizer rates, fertilizer seed ratio, fertilizer calculator, safe rates of fertilizer applied with seed" %>
<%= currently_at 'Calculator' %>

<h1><%= t('.title') %></h1>
<hr>

<%= render 'layouts/social_links' %>

<p><%= t('.description')%></p>

<div class="container">
  <div class="row">
    <div class="span6">
      <section id="input">
      <%= render 'input_form' %>
      </section>
    </div>
    <div class="span6">
      <section id='output'>
      <%= render 'output' %>
      </section>
    </div>
  </div>
</div>
