<% content_for :title, "Seed Damage Calculator" %>
<% content_for :description, "Calculate the optimal fertilizer material to apply with seed" %>

<div class="container mt-3">
  <div class="jumbotron">
    <p>
    A decision aid to assist crop planners in selecting the maximum safe
    <%= t('models.fertiliser').downcase %> rate that can be applied with the
    seed for various crops.
    </p>
    <p>
    It uses regression coefficients (crop stand upon
    <%= t('models.fertiliser').downcase %> rate) that were developed using
    published studies. <%= link_to "Learn more...", theory_path %>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render 'shared/notifications' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <%= render 'input' %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <%= render 'output' %>
        </div>
      </div>
    </div>
  </div>
</div>
