<%= form_for([:admin, @fertiliser]) do |f| %>
  <% if @fertiliser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fertiliser.errors.count, "error") %> prohibited this fertiliser from being saved:</h2>

      <ul>
      <% @fertiliser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :metric_name %><br />
    <%= f.text_field :metric_name %>
  </div>
  <div class="field">
    <%= f.label :imperial_name %><br />
    <%= f.text_field :imperial_name %>
  </div>
  <div class="field">
    <%= f.label :N %><br />
    <%= f.text_field :N %>
  </div>
  <div class="field">
    <%= f.label :P %><br />
    <%= f.text_field :P %>
  </div>
  <div class="field">
    <%= f.label :K %><br />
    <%= f.text_field :K %>
  </div>
  <div class="field">
    <%= f.label :S %><br />
    <%= f.text_field :S %>
  </div>
  <div class="field">
    <%= f.label :Mg %><br />
    <%= f.text_field :Mg %>
  </div>
  <div class="field">
    <%= f.label :liquid_weight %><br />
    <%= f.text_field :liquid_weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
