<footer id="page_footer"> 
	<ul>
		<li><%= link_to "Calculator", "" %></li>
		<li><%= link_to "Downloads", "" %></li>
		<li><%= link_to "Disclaimer", "" %></li>
	</ul>
	<p>&copy; <%= Time.now.strftime("%Y") %> International Plant Nutrition Institute. All rights reserved. | <%= link_to "Site by", root_path %></p>
</footer>