<footer id="page_footer"> 
	<ul>
		<li><%= link_to "Contact Us", "" %></li>
		<li><%= link_to "Documents", "" %></li>
		<li><%= link_to "Print", "" %></li>
		<li><%= link_to "Disclaimer", "" %></li>
	</ul>
	<p>&copy; <%= Time.now.strftime("%Y") %> International Plant Nutrition Institute. All rights reserved. | <%= link_to "Site by", "" %></p>
</footer>