<footer id="page_footer">
  <ul>
    <li><%= link_to "Calculator", calculator_path %></li>
    <li><%= link_to "Definitions", definitions_path %></li>
    <li><%= link_to "Theory", theory_path %></li>
    <li><%= link_to "Disclaimer", disclaimer_path %></li>
  </ul>
  <p>&copy; <%= Time.now.strftime("%Y") %> International Plant Nutrition Institute. All rights reserved. | <%= link_to "Site by", root_path %></p>
</footer>