<% content_for :main_navigation do %>
	<nav id="main_nav" role="navigation">
		<ul>
		  <% if request.url == root_url || request.url == calculator_url || request.path == "/" || request.path == "/calculator" %>
    	  <li class='locale'>
      	  <%= form_tag calculator_path, class: 'locale' do %>
            <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
            <%= submit_tag 'submit' %>
            <%= javascript_tag "$('.locale input').hide()" %>
          <% end %>
        </li>
      <% end %>
			<%= nav_tab 'Calculator', calculator_path, current: current_tab %>
			<%= nav_tab 'Definitions', definitions_path, current: current_tab %>
			<%= nav_tab 'Theory', theory_path, current: current_tab %>
			<%= nav_tab 'Disclaimer', disclaimer_path, current: current_tab %>
		</ul>
	</nav>
<% end %>