<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= yield(:title) %></title>
  <% if !yield(:description).blank? %>
  <meta name="description" content="<%= yield(:description) %>" />
  <% end %>
  <% if !yield(:keywords).blank? %>
  <meta name="keywords" content="<%= yield(:keywords) %>" />
  <% end %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <section id="content">
      <%= render 'layouts/notifications' %>
      <%= yield %>
    </section>
  </div>
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag "application" %>
</body>
</html>
