<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Seed Damage Calculator" %></title>

  <% if content_for?(:description) %>
    <meta name="description" content="<%= yield(:description) %>" />
  <% end %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <%= analytics_init if Rails.env.production? %>
</head>


<body>
<%= render 'shared/navigation' %>
<%= render 'shared/header' %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>
